.history-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #CFFDC7; /* Fondo verde claro */
    position: relative;
    overflow: hidden;
}

.header {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    color: black;
    font-size: 20px;
    z-index: 3;
}

.bienvenida-texto {
    font-size: 20px;
    font-weight: 600;
    color: black;
    line-height: 22.4px;
    padding-left: 40px;
    padding-top: 20px;
    text-align: center;
    word-wrap: break-word;
    font-family: 'Inter', sans-serif;
}

.subtitulo {
    font-size: 16px;
    color: grey;
    text-align: center;
}

.logo {
    max-width: 150px;
    position: absolute;
    top: 10px;
    left: 20px;
}

.sidebar {
    position: absolute;
    left: 50px;
    top: 150px;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.menu-btn {
    background-color: #AFF4C6;
    border: none;
    padding: 15px 20px;
    border-radius: 6px;
    margin: 10px 0;
    cursor: pointer;
    width: 200px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    line-height: 16px;
    color: #1E1E1E;
    text-align: center;
    transition: background-color 0.3s ease;
}

.menu-btn:hover {
    background-color: #34C759;
}

.history-content {
  
        flex-grow: 1;
        background-color: rgba(255, 255, 255, 0.637); /* Color de fondo semi-transparente */
        margin-left: 300px;
        padding-bottom: 10px;
        margin-top: 50px; 
        margin-bottom: 80px; 
        width: calc(100% - 400px); /* Ajuste responsivo para el ancho */
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
        border-radius: 12px; /* Bordes redondeados */
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
      /* Ajustes de altura */
      height: 100px; /* Asegura que ocupe el 60% de la altura del viewport */
      min-height: 100px; /* Altura mínima para pantallas pequeñas */
      max-height: 90%; /* Limita la altura máxima al 90% del viewport */
      }


.history-item {
    background-color: white;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.history-item h2 {
    font-size: 18px;
    color: black;
    margin-bottom: 5px;
}

.history-item p {
    font-size: 14px;
    color: grey;
}

.abrir-btn {
    background-color: #29BF78;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.abrir-btn:hover {
    background-color: #21a765;
}
.back-btn {
    position: absolute;
    bottom: 80px; /* Cerca del footer */
    left: 30px; /* Separado un poco del borde izquierdo */
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 3;
  }
  
  .back-icon {
    width: 50px; /* Ajuste del tamaño del icono */
    height: 50px;
    transition: transform 0.3s ease;
  }
  
  .back-btn:hover .back-icon {
    transform: scale(1.1); /* Efecto hover para hacer el botón un poco más grande */
  }
  