.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background-color: #CFFDC7;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}


.logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 3;
}

.login-logo {
    max-width: 150px;
}

.login-box {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 50px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    width: 250px;
    text-align: center;
    z-index: 1;
    position: relative;
    
}

.login-header {
    margin-bottom: 15px;
}

.login-header h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

.login-icon {
    font-size: 60px;
    color: #4CAF50;
    margin-bottom: 15px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

.form-group label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    display: block;
    text-align: left;
}

.input-field {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100%;
    font-size: 16px;
    background-color: #fff;
}
.input-error {
  border: 2px solid rgb(233, 73, 73);
}

.login-btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    transition: background-color 0.3s ease;
    text-align: center;
}

.login-btn:hover {
    background-color: #45a049;
}

.error-message {
    font-size: 14px;
    color: red;
    margin: 10px 0;
}
